.classDivMap{
    background-image: url(../../../img/mapas/Mapa_Taiwan.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    left: 0px;
    top: 0px;
    width: 500px;
    height: 500px;

    //border: 1px solid #0059ff;
}