* {
    font-family: 'Roboto', sans-serif;
    // margin:0;
    outline: none;
}

html,
body,
#root {
    height: 100%;
    // width: 100%;
    margin: 0;
    background: #FA6373 url('../../img/loading.gif') no-repeat center center fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;

}

a, a:focus {
    outline: none;
}
