// colores
$white: #ffffff;
$black: #000000;
$rosaClaro: #FC6170;
$rosaOscuro: #F5375C;
$rosaMedio: #FA6373;
$turquesaClaro: #70E3DE;
$turquesaMedio: #56B5B4;
$turquesaOscuro: #4BA9A8;
$amarillo: #F9E46B;
$beigeOscuro: #FAEDDA;
$beigeMedio: #FAEDDA;
$beigeClaro: #FFF6EA;
$azulGris: #3C5C65;
$verdeOscuro: #1D8584;
$verdeMedio: #409E9D;
$verdeClaro: #56B5B4;
$verdeOscuro2 : #003634;
$azul: #00205C;

// font
$robotoCon: 'Roboto Condensed', sans-serif;