.story__about,
.story__container {
    background-color: $turquesaMedio;
}

.story__containerVideo {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
        padding-top: 156.25%;
        display: block;
        content: "";

        @media (min-width: 992px) {
            padding-top: 56.25%;
        }
    }
}

.story__video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    // object-fit: cover !important;
}

.story_textVideo{
    color: $white;
    font-size: small;
}

.story__titleAbout {
    margin: 5% 0;

    //@media (max-width: 768px) {
    //    padding-top: 100px;
    //}
    //
    //@media (min-width: 992px) {
    //    margin-bottom: 5%;
    //}
    //
    //@media (min-width: 992px) {
    //    margin-bottom: 5%;
    //}
    //
    //@media (min-width: 992px) {
    //    margin-bottom: 5%;
    //}
    //
    //@media (min-width: 1300px) {
    //    margin-top: -4%;
    //}
}

.story__aboutText {
    background-color: $turquesaOscuro;
    color: $white;
    padding-bottom: 0 !important;
}

.story__pleca__derecha {
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: -1px;
    border-bottom: 520px solid $turquesaOscuro;
    border-right: 47px solid transparent;

    @media (min-width: 768px) {
        margin-top: 0px;
        border-bottom: 242px solid $turquesaOscuro;
        border-right: 50px solid transparent;
    }
}

.story__link {
    color: $white;

    &:hover {
        color: $white;
    }
}

.story__video {
    html {
        body {
            .ytp-chrome-top-buttons {
                display: none !important;
            }
        }

    }

}
